<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/styles/components/header.css">
    <link rel="stylesheet" href="/styles/components/admin/edit-book.css">
    <link rel="stylesheet" href="/styles/components/social-medias.css">
    <link rel="stylesheet" href="/styles/components/footer.css">

  </head>
  
  <body>
    <%- include('../includes/header.ejs') %>

    <main class="edit-book">
        <% if (product) { %>
          <div class="edit-book-container container">
              <img src="<%= product.image %>" alt="<%= product.name %>">
              <form class="edit-book-form" action="/admin/edit-book" method="POST">
                <div class="input-block">
                  <label class="input-label" for="name">Nome do livro</label>
                  <input class="input" type="text" name="name" id="name" value="<%= product.name %>" required>
                </div>

                <div class="input-group">
                  <div class="input-block">
                    <label class="input-label" for="author">Autor</label>
                    <input class="input" type="text" name="author" id="author" value="<%= product.author %>" required>
                  </div>
                  <div class="input-block">
                    <label class="input-label" for="style">Estilo literário</label>
                    <input class="input" type="text" name="style" id="style" value="<%= product.style %>" required>
                  </div>
                </div>

                <div class="input-block">
                  <label class="input-label" for="price">Preço</label>
                  <input class="input" type="text" name="price" id="price" value="<%= product.price %>" required>
                </div>

                <div class="input-block">
                  <label class="input-label" for="image">URL da capa</label>
                  <input class="input" type="url" name="image" id="image" value="<%= product.image %>" required>
                </div>

                <div class="button-group">
                  <input type="hidden" name="id" id="id" value="<%= product.id %>">
                  <button type="submit" class="primary-button button">Salvar</button>
                  <a href="/admin" class="secondary-button button">Voltar</a>
                </div>
              </form>
          </div>
        <% } else { %>
          <div class="book-container container">
              <h1>Livro não encontrado</h1>
          </div>
        <% } %>
    </main>

    <%- include('../includes/footer.ejs') %>

