<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/styles/components/header.css">
    <link rel="stylesheet" href="/styles/components/library/hero.css">
    <link rel="stylesheet" href="/styles/components/library/benefits-section.css">
    <link rel="stylesheet" href="/styles/components/library/books-section.css">
    <link rel="stylesheet" href="/styles/components/library/about-section.css">
    <link rel="stylesheet" href="/styles/components/footer.css">
    <link rel="stylesheet" href="/styles/components/social-medias.css">

  </head>
  
  <body>
    <%- include('../includes/header.ejs') %>

    <main class="hero">
        <div class="hero-container container">
            <h1 class="hero-title">Livraria <strong>Vanbook</strong></h1>
            <p class="hero-tagline">Sua livraria digital</p>
        </div>
    </main>

    <section id="beneficios" class="beneficios">
      <div class="beneficios-container container">
        <article class="beneficios-card">
          <img class="beneficios-card-img" src="/assets/card-img-1.jpg" alt="Disfrute de nossa livraria digital">
          <h3 class="beneficios-card-title">Disfrute de nossa livraria digital</h3>
        </article>
        <article class="beneficios-card">
          <img class="beneficios-card-img" src="/assets/card-img-2.jpg" alt="Compre ou venda livros novos e usados">
          <h3 class="beneficios-card-title">Compre livros novos ou usados</h3>
        </article>
        <article class="beneficios-card">
          <img class="beneficios-card-img" src="/assets/card-img-3.jpg" alt="Tudo isso sem sair de casa">
          <h3 class="beneficios-card-title">Tudo isso sem sair de casa</h3>
        </article>
      </div>
    </section>
    
    <% if (books.length > 0) { %>
      <section id="ver-livros" class="ver-livros">  
        <div class="ver-livros-container container">
          <section class="ver-livros-content">
            <% for (let book of books) { %>
              <a href="/library/books/<%= book.book_id %>" class="ver-livros-card">
                <img class="ver-livros-card-img" src="<%= book.image_url %>" alt="<%= book.name %>">
                <div class="ver-livros-card-info">
                  <h3 class="ver-livros-card-info-title">
                    <%= book.name %>
                  </h3>
                  <p class="ver-livros-card-info-price">
                    <%= book.price %>
                  </p>
                </div>
              </a>
            <% } %>
          </section>
          <section class="ver-livros-cta">
            <a href="/library" class="ver-livros-cta-button button">
              Ver todos os livros
            </a>
          </section>
        </div>
      </section>
    <% } else { %>
    <% } %>
  
    <section id="sobre" class="sobre">
      <div class="sobre-container container">
        <article class="sobre-content">
          <h2 class="sobre-content-title">
            Um pouco sobre nossa história
          </h2>
          <p class="sobre-content-text">
            Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI.<br><br>
            Quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos.
          </p>
        </article>
        <img src="/assets/sobre-img.jpg" alt="Livraria, imagem sobre">
      </div>
    </section>

    <%- include('../includes/footer.ejs') %>
