<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/styles/components/header.css">
    <link rel="stylesheet" href="/styles/components/library/hero.css">
    <link rel="stylesheet" href="/styles/components/library/benefits-section.css">
    <link rel="stylesheet" href="/styles/components/library/books-section.css">
    <link rel="stylesheet" href="/styles/components/library/about-section.css">
    <link rel="stylesheet" href="/styles/components/footer.css">
    <link rel="stylesheet" href="/styles/components/social-medias.css">

  </head>
  
  <body>
    <%- include('../includes/header.ejs') %>

    <main class="hero">
        <div class="hero-container container">
            <h1 class="hero-title">Livraria <strong>Vanbook</strong></h1>
            <p class="hero-tagline">Sua livraria digital</p>
        </div>
    </main>

    <section id="benefits" class="benefits">
      <div class="benefits-container container">
        <article class="benefits-card">
          <img class="benefits-card-img" src="/assets/card-img-1.jpg" alt="Disfrute de nossa livraria digital">
          <h3 class="benefits-card-title">Disfrute de nossa livraria digital</h3>
        </article>
        <article class="benefits-card">
          <img class="benefits-card-img" src="/assets/card-img-2.jpg" alt="Compre ou venda livros novos e usados">
          <h3 class="benefits-card-title">Compre livros novos ou usados</h3>
        </article>
        <article class="benefits-card">
          <img class="benefits-card-img" src="/assets/card-img-3.jpg" alt="Tudo isso sem sair de casa">
          <h3 class="benefits-card-title">Tudo isso sem sair de casa</h3>
        </article>
      </div>
    </section>
    
    <% if (products.length > 0) { %>
      <section id="books" class="books">  
        <div class="books-container container">
          <section class="books-content">
            <% for (let product of products) { %>
              <a href="/library/books/<%= product.id %>" class="books-card">
                <img class="books-card-img" src="<%= product.image %>" alt="<%= product.name %>">
                <div class="books-card-info">
                  <h3 class="books-card-info-title">
                    <%= product.name %>
                  </h3>
                  <p class="books-card-info-price">
                    <%= product.price %>
                  </p>
                </div>
              </a>
            <% } %>
          </section>
          <section class="books-cta">
            <a href="/library" class="books-cta-button button">
              Ver todos os livros
            </a>
          </section>
        </div>
      </section>
    <% } else { %>
    <% } %>
  
    <section id="about" class="about">
      <div class="about-container container">
        <article class="about-content">
          <h2 class="about-content-title">
            Um pouco sobre nossa história
          </h2>
          <p class="about-content-text">
            Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI.<br><br>
            Quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos.
          </p>
        </article>
        <img src="/assets/sobre-img.jpg" class="about-content-img" alt="Livraria, imagem about">
      </div>
    </section>

    <%- include('../includes/footer.ejs') %>
