<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/styles/components/header.css">
    <link rel="stylesheet" href="/styles/components/library.css">
    <link rel="stylesheet" href="/styles/components/social-medias.css">
    <link rel="stylesheet" href="/styles/components/footer.css">

  </head>
  
  <body>
    <%- include('../includes/header.ejs', { totalPrice }) %>

    <section class="library">
      <% if (products.length > 0) { %>
        <div class="library-container container">
          <section class="library-content">
            <% for (let product of products) { %>
              <a class="library-card" href="/library/books/<%= product.id %>">
                <img class="library-card-img" src="<%= product.image %>" alt="<%= product.name %>">
                <div class="library-card-info">
                  <h3 class="library-card-info-title">
                    <%= product.name %>
                  </h3>
                  <p class="library-card-info-price">
                    <%= product.price %>
                  </p>
                </div>
              </a>
            <% } %>
          </section>
        </div>
      <% } else { %>
        <div class="no-books-container container">
          <h3 class="no-books-aviso">Não há livros disponiveis</h3>
        </div>
      <% } %>
    </section>

    <%- include('../includes/footer.ejs') %>

